.center {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.lineHeight {
    line-height: 35px;
    font-size: 19px;
}

.inline{
    display: inline;
}

.iconColor {
    display: inline;
    color: #777;
    padding-left: 20px;
}